certifi==2021.5.30
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099971815/work
matplotlib @ file:///D:/bld/matplotlib-suite_1611858808344/work
numpy @ file:///D:/bld/numpy_1626682185159/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.1.5
Pillow @ file:///D:/bld/pillow_1630696770108/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
torch==1.10.2
torchaudio==0.10.2
torchstat==0.0.7
torchvision==0.11.3
tornado @ file:///D:/bld/tornado_1610094881553/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
wincertstore==0.2
